.c4-head {
  font-size: 40px;
  font-weight: 600;
  width: 500px;
  margin: 100px 0px 0px 50px;
}
.c4-in {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}
.c4-div {
  margin: 10px;
  width: 250px;
  margin-left: 40px;
}
.c4-div-img {
  width: 250px;
  margin-top: 80px;
  margin-left: 20px;
}
.c4-div-head {
  font-size: 25px;
  width: 175px;
  font-weight: 700;
  margin: 40px 0px 0px 20px;
}
.c4-div-cont {
  font-size: 20px;
  font-weight: 500;
  width: 225px;
  margin: 40px 0px 0px 20px;
}
.c4-div-learn {
  font-weight: 600;
  margin: 15px 0px 0px 20px;
}
