* {
  padding: 0;
  margin: 0;
}
.navBar {
  height: 92px;
  width: 100vw;
  background: white;
  box-shadow: 0 5px 10px 0px rgb(213, 213, 213);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}
.imgDiv {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}
.paytmLogo {
  width: 180px;
  margin-left: 20px;
  margin-right: 10px;
}
.logDiv {
  width: 15%;
  display: flex;
  justify-content: center;
}
.loginButton {
  width: 120px;
  border-radius: 30px;
  height: 40px;
  background-color: #00baf2;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: white;
  font-family: Inter, sans-serif;
  margin-right: px;
  margin-left: 10px;
  z-index: 5;
}
.loginButton:hover {
  background-color: #152b75;
}
.upperNav {
  width: 65%;
  text-align: center;
  font-size: 17px;
}
ul {
  list-style: none;
  font-weight: 550;
  font-family: Inter, sans-serif;
  gap: 10px;
}
.upperNav > ul {
  display: inline-flex;
}
.upperNav > ul > li {
  border-radius: 5px 5px 0px 0px;
  padding: 10px;

  margin-right: 10px;
  color: black;
}
li:hover {
  background-color: rgb(245, 245, 256);
}
a {
  text-decoration: none;
  color: #000000;
}
.sub_menu_1 {
  display: none;
  transition: all 0.3s ease;
  z-index: 101;
  margin-left: -10px;
}
.sub_menu_1 > ul {
  width: 13em;
}
.sub_menu_1 > ul > li {
  margin: 5px 0px 0px 3px;
  transition: 0.1s;
}
.sub_menu_1 > ul > li:last-child {
  margin-bottom: 20px;
}
.upperNav > ul > li:hover .sub_menu_1 {
  display: block;
  font-size: 14px;
  position: absolute;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;
}
.upperNav > ul > li:hover .sub_menu_1 > ul {
  display: block;
  margin-top: 10px;
  text-align: left;
}

.upperNav > ul > li:hover .sub_menu_1 > ul > li {
  padding: 10px;
}
.hidden {
  visibility: hidden;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 2px;
  background-color: #333;
  margin-top: 4px;
  transition: 0.3s;
  border-radius: 5px;
}
.bar1 {
  margin-top: 0px;
}
.bar2 {
  transition: 0.1s;
}

.change .bar1 {
  transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -5px) rotate(45deg);
}
.nav_menu_m1 {
  display: none;
  z-index: 100;
}
.nav_menu_m {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100vw;
  height: 100vh;
  margin-left: -70px;
  padding-left: 50px;
  z-index: 100;
  animation: nav_side_bar 0.3s ease-out;
  background-color: white;
}
.nav_menu_m > ul > li:hover {
  background: transparent;
}
.nav_menu_m > ul > li {
  padding: 20px;
  border-bottom: 1px solid rgb(210, 208, 208);
  margin-left: 15px;
  z-index: 100;
}
.logDiv-m1 {
  visibility: none;
}
.line_container {
  display: none;
}
.logDiv-m {
  display: none;
}
@media only screen and (max-width: 1250px) {
  .navBar {
    height: 55px;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    width: 100vw;
  }
  .paytmLogo {
    width: 130px;
  }
  .loginButton {
    width: 90px;
    border-radius: 19px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
  }
  .upperNav {
    display: none;
  }
  .line_container {
    display: inline-block;
    width: 20px;
    height: 14px;
    flex-direction: column;
    cursor: pointer;
    margin-left: 80px;
  }
  .imgDiv {
    display: flex;
    align-items: center;
  }
  .logDiv {
    display: none;
  }
  .logDiv-m {
    display: flex;
  }
}
@keyframes nav_side_bar {
  0% {
    width: 0%;
  }
  100% {
    width: 100vw;
  }
}
