* {
  margin: 0;
  padding: 0;
  /* background-color: #f5f7fa; */
}
.ribbon {
  position: relative;
  margin-top: 10px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  text-align: center;
  height: 50px;
  z-index: 0;
}
img.emojione {
  margin: 0px !important;
  display: inline !important;
}
span {
  font-size: 1.5rem;
}
.heading_pay {
  margin-top: 75px;
  margin-left: 50px;
}
.card2 {
  display: flex;
  flex-wrap: wrap;
}
